{% if title %}
  {{ title }}
  <br>
{% endif %}
<select onchange="document.getElementsByClassName('paragraph')[this.value].scrollIntoView();">
{% for item in paragraphs %}
  <option value="{{ loop.index0 }}">{{ item.value }}</option>
{% endfor %}
</select>
